{% extends 'base.html' %} {% load static %} {% block content %}
<section>
	<article>
		<h1>Make a reservation</h1>
		<!--Begin row-->
		<div class="row">
			<!--Begin col-->
			<div class="column">
				{% csrf_token %}
				<form id="form">
					<!-- {% csrf_token %} -->
					<p>
						<label for="first_name">Name:</label>
						<input id="first_name" type="text" placeholder="Your Name" maxlength="200" value="{{ user.first_name }}" disabled required />
					</p>
					<p>
						<label for="reservation_date">Reservation Date:</label>
						<input type="date" placeholder="Reservation Date" id="reservation_date" />
					</p>
					<p>
						<label for="reservation_slot">Reservation time:</label>
						<select id="reservation_slot" disabled>
							<option value="0" selected="selected" disabled>Select time</option>
						</select>
					</p>
					<button type="button" id="button">Reserve</button>
				</form>
			</div>
			<!--End col-->

			<!--Begin col-->
			<div class="column">
				<h2>Bookings For <span id="today"></span></h2>
				<div id="bookings"> </div>
			</div>
			<!--End col-->
		</div>
		<!--End row-->
	</article>
</section>
<script>
	const date = new Date();
	const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
	const authToken = localStorage.getItem('authToken');

	document.getElementById('reservation_date').value = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate().toString().padStart(2, '0')}`;
	document.getElementById('reservation_date').addEventListener('change', () => {
		getBookings();
	});
	document.getElementById('reservation_date').addEventListener('click', () => {
		document.getElementById('reservation_slot').disabled = false;
		getBookings();
	});

	function getBookings() {
		let reserved_slots = [];
		const date = document.getElementById('reservation_date').value;

		document.getElementById('today').innerHTML = date;
		fetch("{% url 'booking_date' %}" + '?date=' + date, {
			method: 'get',
			headers: {
				'Content-Type': 'application/json',
				Authorization: `Token ${authToken}`,
				'X-CSRFToken': csrf_token,
			},
		})
			.then((r) => r.json())
			.then((data) => {
				reserved_slots = [];
				let bookings = '';
				data.forEach((item) => {
					reserved_slots.push(item.reservation_slot);
					bookings += `<p>${item.first_name} - ${formatTime(item.reservation_slot)}</p>`;
				});

				let slot_options = `
      <option value="0" disabled>Select time</option>`;
				for (let i = 10; i <= 20; i++) {
					const label = formatTime(i);
					if (reserved_slots.includes(i)) {
						slot_options += `<option value=${i} disabled>${label}</option>`;
					} else {
						slot_options += `<option value=${i}>${label}</option>`;
					}
				}

				document.getElementById('reservation_slot').innerHTML = slot_options;

				if (bookings === '') {
					bookings = 'No bookings';
				}
				document.getElementById('bookings').innerHTML = bookings;
			});
	}

	function formatTime(time) {
		const ampm = time < 12 ? 'AM' : 'PM';
		const t = time < 12 ? time : time > 12 ? time - 12 : time;
		return `${t} ${ampm}`;
	}

	document.getElementById('button').addEventListener('click', function (e) {
		if (document.getElementById('first_name').value === '' || document.getElementById('reservation_slot').value === '0') {
			alert('⚠️ Please fill out the form completely before submitting ⚠️');
		} else {
			const formdata = {
				first_name: document.getElementById('first_name').value,
				reservation_date: document.getElementById('reservation_date').value,
				reservation_slot: document.getElementById('reservation_slot').value,
			};

			fetch("{% url 'bookings' %}", {
				method: 'post',
				headers: {
					Accept: 'application/json',
					'Content-Type': 'application/json',
					Authorization: `Token ${authToken}`,
					'X-CSRFToken': csrf_token,
				},
				body: JSON.stringify(formdata),
			})
				.then((r) => r.text())
				.then((data) => {
					getBookings();
				});
		}
	});
</script>
{% endblock %}
