{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    <article>
    <h1>Login to little lemon</h1>
        <div class="row">
            <div class="column">
                <form id="login_form" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" id="button">Submit</button>
                </form>
                <a href="{% url 'register' %}"><p>Register for an account</p></a>
            </div>
        </div>
    </article>
</section>
{% endblock %}